<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 每一个实体类都对应着Mybatis，的一个命名空间，namespace属性值相当于id，如果存在多个，不允许重复-->
<!-- 命名空间，一般情况下，在当前空间中声明的是.实体类对应的别名-->
<mapper namespace="com.infor.dao.DepartmentDao">
    <select id="getDepartmentById" resultType="com.infor.bean.Department">
        select * from department where d_id = #{d_id}

    </select>  

</mapper>